<a href="https://colab.research.google.com/github/haithemml/Machine-Learning-with-Python/blob/master/Mall_Customers_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('drive/MyDrive/Mall_Customers.csv')
data

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [3]:
data.info

<bound method DataFrame.info of      CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [4]:
data.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [5]:
file = "Mall_Customers.zip"

In [6]:
numeric=[c for c, d in zip(data.columns, data.dtypes) if d==np.int64]
categorical = [c for c in data.columns if c not in numeric and c not in["y"]]
target = "y"
print(numeric)
print(categorical)

['CustomerID', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)']
['Gender']

In [7]:
print(target)

y

In [8]:
def adds_selection(self, categorical):
  row_list = []
  for index, row in categorical.iterrows():
    my_list = [row.Debit] #create list for the current row
  row_list.append(my_list) #append the list to the final list

from sklearn.feature_extraction import DictVectorizer #treat variables and categorical
preperate = DictVectorizer()
#categorical_as_dict = [dict(row.iteritems()) for row in categorical.iterrows()]
categorical_as_dict = dict
#temp = preperate.fit_transform(categorical_as_dict)
#categorical_exp = temp.toarray()
#preperate.feature_names_

In [29]:
X = numeric
y = categorical

In [15]:
def lineplot(X, y, X_label="", y_label="", title=""):
  _, ax = plt.subplots() #Create the plot object
  #plot the best fit line, set the linewidth, color and transparency of the line
  ax.plot(X, y, lw = 2, color = '#528caf', alpha = 1)
  #label the axes & provide the title
  ax.set_title('Gender considering the numeric variables')
  ax.set_xlabel(X)
  ax.set_yllabel(y)

In [ ]:
X = np.arange(0, len(X), 1)
plt.scatter(X, y, marker='^')
plt.show()

In [28]:
import matplotlib as mpl

In [31]:
fig = plt.figure()

In [46]:
import plotly.express as px
fig = px.bar(X, y)
fig.update_xaxes(type='category')
fig.show()